mixin header(studio, title, subtitle, subtitle2, button, scrollDown, buttonUrl, activeBg)
  .header.container-fluid
    .row
      a.nav-open-button
        span.line-0
        span.line-1
        span.line-2
      .header-background.header-background-1
      .header-background.header-background-2
      .header-background.header-background-3
      .header-background.header-background-4
      .header-background.header-background-5
      .header-slider-controls
        span.header-page-num
          span.middle-dots ···
          span.header-current-slide 01
          |  / 05
        .header-slider-control-box(class= activeBg === 0 ? 'active' : '')
        .header-slider-control-box(class= activeBg === 1 ? 'active' : '')
        .header-slider-control-box(class= activeBg === 2 ? 'active' : '')
        .header-slider-control-box(class= activeBg === 3 ? 'active' : '')
        .header-slider-control-box(class= activeBg === 4 ? 'active' : '')
      .col-md-8.col-md-offset-2.header-main
        .row
          .col-xs-4.col-xs-offset-4.col-md-2.col-md-offset-5
            img.logo(alt='Logo', src= mediaUrlPrefix + 'images/logo.png')
        .row.studio-name-wrapper
          .col-md-11.col-md-offset-1.row-inner-wrapper
            span.studio-name= studio
        .row.title-wrapper
          .col-md-9.col-md-offset-3.row-inner-wrapper
            h1.title= title
        .row.subtitle-wrapper
          .col-md-9.col-md-offset-3.row-inner-wrapper
            span.subtitle= subtitle
              br
              span.subtitle-line-2= subtitle2
        if(button)
          .row.work-samples-wrapper
            .col-xs-4.col-md-2.pull-right.row-inner-wrapper
              button.work-samples
                a(href= buttonUrl)= button
        if(scrollDown)
          .row.scroll-down-wrapper
            .col-md-9.col-md-offset-3.row-inner-wrapper
              span.scroll-down Scroll down
        .left-line
        .right-line