mixin header(title, subtitle, subtitle2, activeBg, bgArray, studio, studioMoveLeft, buttonText, buttonUrl, simpleNav, scrollDown, leftLinkText, leftLinkUrl)
  .header.container-fluid
    .row.main-row.md-same-height-row
      a.nav-open-button
        span.line-0
        span.line-1
        span.line-2
      if(bgArray)
        -for(var i=0; i < bgArray.length; i++)
          .header-background(class='header-background-' + bgArray[i], class= activeBg === bgArray[i] ? 'active' : '')
      if(!simpleNav)
        .header-slider-controls
          span.header-page-num
            span.middle-dots ···
            span.header-current-slide 01
            |  / 0#{bgArray ? bgArray.length : ''}
          if(bgArray)
            -for(var i=0; i < bgArray.length; i++)
              .header-slider-control-box(class= activeBg === bgArray[i] ? 'active' : '')
      .header-simple-nav.col-md-4.hidden-sm.hidden-xs
        if(simpleNav)
          .simple-nav-item-wrapper.active
            .simple-nav-active-bar
            .simple-nav-item
              .item-subtitle
                h6 Design
              .item-title
                h5 Dieter Rams Documentary
              .item-desc
                span The world's first feature documentary...
          .item-line
          .simple-nav-item-wrapper
            .simple-nav-active-bar
            .simple-nav-item
              .item-subtitle
                 h6 Design
              .item-title
                h5 What's about living
              .item-desc
                span 10 researches explaining which are the best...
          .item-line
          .simple-nav-item-wrapper
            .simple-nav-active-bar
            .simple-nav-item
              .item-subtitle
                 h6 Music
              .item-title
                h5 90120
              .item-desc
                span Making hit music since forever...
          a(href='blog').more More stories
      .col-md-8.header-main
        .row
          .col-xs-4.col-xs-offset-4.col-md-2.col-md-offset-2.logo-wrapper
            .logo-inner-wrapper
              img.logo(alt='Logo', src= mediaUrlPrefix + 'assets/images/icons/logo.png')
        if(studio)
          .row.studio-name-wrapper(class=  studioMoveLeft ? 'move-left' : '')
            .col-md-7.row-inner-wrapper
              span.studio-name= studio
        .row.title-wrapper
          .col-md-7.row-inner-wrapper
            h1.title!= title
        .row.subtitle-wrapper
          .col-md-7.row-inner-wrapper
            span.subtitle= subtitle
              br
              span.subtitle-line-2= subtitle2
        if(buttonText)
          .row.work-samples-wrapper
            .col-xs-4.col-md-2.col-md-offset-7.row-inner-wrapper
              button.work-samples
                a(href= buttonUrl)= buttonText
        if(leftLinkText)
          .row.left-link-wrapper
            .col-md-7.row-inner-wrapper
              a(href=leftLinkUrl).left-link= leftLinkText
        if(scrollDown)
          .row.scroll-down-wrapper
            .col-md-7.row-inner-wrapper
              span.scroll-down Scroll down
        .right-line